@import "tailwindcss";

@theme {
  --breakpoint-xs: 26.563rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

.button_gradient {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

.button_gradient:hover {
  background: linear-gradient(135deg, #feb47b, #ff7e5f);
}

body {
  font-family: var(--nunito);
  scroll-behavior: smooth;
  scroll-padding-top: 4.5rem;
}